<header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="mod navbar-brand text-white" href="/">PRASETIYO</a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="timeline" class="nav-link px-2 text-white">Timeline</a></li>
                <!-- <li><a href="#" class="nav-link px-2 text-white">Portfolio</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Contact</a></li> -->
            </ul>

            <div class="text-end">
                <a class="btn btn-warning" role="button" href="/assets/documents/cv-prasetiyo.pdf"
                    target="_blank">Download CV</a>
            </div>
        </div>
    </div>
</header>